################## PIX B2B Configuration settings ########################
# Description	: config file for PIX B2B application 
# Author	: Yogesh Tyagi
# Company 	: HCL Technologies
##########################################################################

## DataSource and Schema names for database connection
PIX_DB_DRIVER_CLASS=oracle.jdbc.driver.OracleDriver
PIX_DB_URL=jdbc:oracle:thin:@10.160.14.61:1521:pix
#PIX_DB_URL=jdbc:oracle:thin:@10.160.3.69:1521:pix
#PIX_DB_URL=jdbc:oracle:thin:@10.112.133.58:1521:pix
PIX_DB_USERNAME=pix
PIX_DB_PWD=pix
PIX_DB_SCHEMA_NAME=pix
CONNECTION_POOLING=TRUE
INBOUND_SOCKET_PORT=30002
OUTBOUND_SOCKET_PORT=30003

## papiNetEnvelope properties
#Set PayloadInfo_TestFlag value to "1" in test transmission & "0" for production use.
pne_PayloadInfo_TestFlag=1
pne_TransmissionInfo_SequenceNumber=1
pne_Schema_Version=v2r31
##pne_Schema_Build=20081207
##pne_Schema_Build=20091201
pne_Schema_Build=20100415
pne_Schema_URL=http://www.papinet.org

## SCHEMA(XSD) local path in application context
SCHEMA_papiNetEnvelope=/xsd/papiNetEnvelope.xsd 
SCHEMA_PurchaseOrder=/xsd/PurchaseOrderV2R31.xsd 
SCHEMA_ShippingInstructions=/xsd/ShippingInstructionsV2R31.xsd 
SCHEMA_BookSpecification=/xsd/BookSpecificationV2R31.xsd
SCHEMA_BusinessAcknowledgement=/xsd/BusinessAcknowledgementV2R31.xsd

SCHEMA_OrderStatus=/xsd/OrderStatusV2R31.xsd
SCHEMA_OrderConfirmation=/xsd/OrderConfirmationV2R31.xsd
SCHEMA_InventoryChange=/xsd/InventoryChangeV2R31.xsd
SCHEMA_InventoryStatus=/xsd/InventoryStatusV2R31.xsd
SCHEMA_Usage=/xsd/UsageV2R31.xsd
SCHEMA_GoodsReceipt=/xsd/GoodsReceiptV2R31.xsd
SCHEMA_DeliveryMessage=/xsd/DeliveryMessageBookV2R31.xsd
SCHEMA_DeliveryMessageWood=/xsd/DeliveryMessageWoodV2R31.xsd
SCHEMA_Invoice=/xsd/InvoiceV2R31.xsd

## XML generation and directory details for XML store
OUTBOUND_DIR_GENERATED_XML=D:/project/b2bxml/out/generatedxml
OUTBOUND_DIR_ARCHIVE_XML_VALID=D:/project/b2bxml/out/archivexml/valid
OUTBOUND_DIR_ARCHIVE_XML_INVALID=D:/project/b2bxml/out/archivexml/invalid

INBOUND_DIR_DOWNLOAD_VENDOR_XML=D:/project/b2bxml/in/vendorxml
INBOUND_DIR_ARCHIVE_XML_VALID=D:/project/b2bxml/in/archivexml/valid
INBOUND_DIR_ARCHIVE_XML_INVALID=D:/project/b2bxml/in/archivexml/invalid

## Mail SMTP Host for Email delivery 
##MAIL_SMTP_HOST=NDA-HCLT-EVS01.HCLT.CORP.HCL.IN
MAIL_SMTP_HOST=usoldtms006.PCROOT.COM

## FTP Server details
FTP_SERVER_URL=peheftp.pearsoned.com
FTP_SERVER_USERNAME=pehe019
FTP_SERVER_PWD=x2m4lG
FTP_SERVER_DIR=/out
##FTP_SERVER_DIR=/USG/BA


##DIR_VALIDATION_FAILURE_XML=D:/projects/BA/validationfailure

## Email Subject and addresses
PIX_USAGE_SUCCESS_EMAIL_ID_FROM=Ashish.Agrawal@Pearson.com
PIX_USAGE_SUCCESS_EMAIL_ID_TO=Ashish.Agrawal@Pearson.com
PIX_USAGE_SUCCESS_EMAIL_ID_CC=
PIX_USAGE_SUCCESS_EMAIL_ID_BCC=
PIX_USAGE_SUCCESS_EMAIL_SUBJECT=PIX B2B Usage Business ACK
PIX_OUTBOUND_ERROR_LOG_EMAIL_SUBJECT=PIX B2B Failure report

PIX_USAGE_FAILURE_EMAIL_ID_FROM=Ashish.Agrawal@Pearson.com
PIX_USAGE_FAILURE_EMAIL_ID_TO=Ashish.Agrawal@Pearson.com
PIX_USAGE_FAILURE_EMAIL_ID_CC=
PIX_USAGE_FAILURE_EMAIL_ID_BCC=
PIX_USAGE_FAILURE_EMAIL_SUBJECT=PIX B2B Usage XML Validation Failures...